{% extends "layout/website.html" %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}
    <div class="container">
        <h1 class="mt-5">Mis Tareas</h1>

        <!-- Formulario para agregar una nueva tarea -->
        <div class="row mt-3">
            <div class="col-md-6">
                <form method="post" class="form">
                    {% csrf_token %}
                    {% bootstrap_form form %}
            
                    {% bootstrap_button button_type="submit" content="Guardar" %}
                </form>
            </div>
            
            <div class="col-md-6">
                <ul class="list-group">
                    {% for tarea in tareas %}
                        <li 
                            class="list-group-item"
                        >
                            {{ tarea.titulo }}: <small>{{ tarea.descripcion }}</small>
                            <a href="{% url 'tareas:editar' tarea.id %}" data-action="edit" class="btn btn-warning btn-sm float-end me-2">Editar</a>
                            <a href="{% url 'tareas:eliminar' tarea.id %}" data-action="delete" class="btn btn-danger btn-sm float-end me-2">Eliminar</a>
                        </li>
                    {% endfor %}
                </ul>

                <ul class="pagination justify-content-center mt-4">
                    {% if tareas.has_previous %}
                      <li class="page-item">
                        <a class="page-link" href="{% url 'tareas:home' %}?page={{ tareas.previous_page_number }}" aria-label="Anterior">
                          <span aria-hidden="true">&laquo;</span>
                        </a>
                      </li>
                    {% endif %}
              
                    {% for page_num in tareas.paginator.page_range %}
                      <li class="page-item {% if tareas.number == page_num %}active{% endif %}">
                        <a class="page-link" href="{% url 'tareas:home' %}?page={{ page_num }}">{{ page_num }}</a>
                      </li>
                    {% endfor %}
              
                    {% if tareas.has_next %}
                      <li class="page-item">
                        <a class="page-link" href="{% url 'tareas:home' %}?page={{ tareas.next_page_number }}" aria-label="Siguiente">
                          <span aria-hidden="true">&raquo;</span>
                        </a>
                      </li>
                    {% endif %}
                  </ul>
            </div>
        </div>
    </div>
{% endblock %}